{% extends 'layout.html' %}

{% block title %}
  <title>{{ user.username }} Home</title>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class='col-md-2'></div>
      <div class="col-md-8 mt-3">
        <div align=center>
          {% if user.bg_stored %}
            <a class="btn blck" data-toggle="modal" data-target="#bgModal" width="100%"><img src="{{ url_for('static', filename='img/' + user.user_id|string + '/bg.png') }}" width='100%' align='center'></a>
          {% else %}
            <a class="btn blck" data-toggle="modal" data-target="#bgModal" width="100%"><img src="{{ url_for('static', filename='pict/bg.png') }}" width='100%' align='center'></a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row" background-color="White">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div align='center' class= "mb-3">
          {% if user.ic_stored %}
            <a class="btn" data-toggle="modal" data-target="#icModal"><img src="{{ url_for('static', filename='img/'+ mem.user_id|string + '/ic.jpg') }}" class="rounded-circle" alt="No Icon Available" width=45px height=45px border='1' align='center'></a>
          {% else %}
            <a class="btn" data-toggle="modal" data-target="#icModal"><img src="{{ url_for('static', filename='pict/ic.jpg') }}" class="rounded-circle" alt="No Icon Available" width=90px height=90px border='1' align='center'></a>
          {% endif %}
        </div>
        
        <div align='center'>
          <h3>{{ user.username }}<h3><br>
          <small>{{ user.comment }}</small>
          {% if edit_flag %}
            <a class="btn" href="{{ url_for('setting', user_id=user.user_id) }}"><em>Setting</em></a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">Edit</button>
          {% endif %}
        </div>
        
        <hr/>
        
        {% if edit_flag %}
          <div align='right'><a href="{{ url_for('add_post', user_id=user.user_id ) }}"><em>Add</em></a>
        {% endif %}
        {% if posts %}
          <div class='container-fluid'>
          {% for post in posts %}
            {% if post.img_name %}
              <div align='center'><img src="{{ url_for('static', filename='img/{user_id}/{img_name}'.format(user_id = user.user_id, img_name = post.img_name)) }}"</div><br>
            {% endif %}
            <div align='center'>{{ post.text }}</div><br>
            <div align='center'>
              <small>{{ post.date }}    </small>
              {% if edit_flag %}
                <img src="{{ url_for('static', filename='pict/like.png') }}" width='20px'>
                {{ like_by_post[post.id|string] }}
              {% else %}
                {% if like_dic[post.id|string] %}
                  <a class="btn" data-toggle="modal" data-target="#dislikeModal">
                    <img src="{{ url_for('static', filename='pict/red_like.png') }}" width='20px'>
                    {{ like_by_post[post.id|string] }}
                  </a>
                {% else %}
                  <a class="btn" data-toggle="modal" data-target="#likeModal">
                    <img src="{{ url_for('static', filename='pict/like.png') }}" width='20px'>
                    {{ like_by_post[post.id|string] }}
                  </a>
                {% endif %}
              {% endif %}
            </div><hr>
          {% endfor %}
          </div>
        {% else %}
          <div align='center'><p>No Post</p></div>
        {% endif %}
      </div>
      <div class='col-md-2'></div>
    </div>
  </div>
  



  <div class="modal fade" id="bgModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ user.username }} Icon</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          {% if user.bg_stored %}
            <img src="{{ url_for('static', filename='img/' + user.user_id|string + '/bg.png') }}">
          {% else %}
            <img src="{{ url_for('static', filename='pict/bg.png') }}">
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="icModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ user.username }} Icon</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          {% if user.ic_stored %}
            <img src="{{ url_for('static', filename='img/'+ mem.user_id|string + '/ic.jpg') }}" width='100%'>
          {% else %}
            <img src="{{ url_for('static', filename='pict/ic.jpg') }}" width='100%'>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="commentModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Comments</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="new_comments" method='POST'>
            <div class='form-group'>
              <input class="form-control" name="new_comments" placeholder="Put new comments here" value={{ user.comment }}>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Send</button>
            <button class="btn btn-warning btn-sm" type="reset">Reset</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dislikeModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you really sure to 'dislike' this post?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('dislike_post', user_id = session.user_id, post=post) }}" method='POST'>
            <button class="btn">Yes</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="likeModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Like this post</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('like_post', user_id = session.user_id, post=post) }}" method='POST'>
            <div class='form-group'>
              <input class="form-control" name="comment" placeholder="Put nothing here if you just want to 'like' this post">
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Send</button>
           <button class="btn btn-warning btn-sm" type="reset">Reset</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<!--
  <style>
    .bg-pos{
      position: fixed;
      width=66%
      align=center;
    }
-->
  <style>
    .blck{
      display: block;
  </style>
{% endblock %}


<!--img src="/static/img/{ user_id|string }/{ post.img_name }"-->